body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins";
    overflow-x: hidden;
}

:root{
    --main-text-color: rgb(3,45,96);
    --main-color: rgb(0, 39, 117); /* alternative color rgb(2, 11, 110)*/
    --secondary-text-color:rgb(13,157,218);
    --secondary-color: rgb(1,118,211);
    --green-btn-color: rgb(46, 132, 74);
}

.m-t-c{
    color: var(--main-text-color);
}
.s-t-c{
    color: var(--secondary-text-color);
}
.buttons-wrapper{
    display: flex;
    gap: 20px;
    text-align: center;
}
.bg-blue-btn2{
    background-color: var(--secondary-color);
    width: 140px;
    color: white;
    padding: 15px 17px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}
.bg-blue-btn2:hover{
    background-color: rgb(2, 55, 90)
}
.bg-blue-btn{
    background-color: var(--secondary-color);
    width: 140px;
    color: white;
    padding: 15px 17px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}
.bg-blue-btn:hover{
    background-color: rgb(2, 55, 90);
}
.blue-transparent-btn{
    background-color: white;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px 0;
    width: 130px;
    padding: 13px 17px;
    text-decoration: none;
}
.blue-transparent-btn:hover{
    border: 2px solid var(--main-color);
    color: var(--main-text-color);
    background-color: rgba(1, 116, 211, 0.1);
}
.a-blue-color{
    color: var(--secondary-text-color) !important;
}
.a-deepBlue-color{
    color:var(--main-text-color) ;
}
/* ________________________________NAV BAR DESIGN__________________________________________ */
nav{
    background: white;
    color: rgb(0, 12, 124);
    padding: 15px 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.space{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
}
.nav-small{
    display: none;
}

img{
    width:50px;
}
.logo{
    width: 70px;
}
.icon{
    width: 20px;
    height: 20px;
}
.links-1{
    display: flex;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
}
.links-1 a{
    text-decoration: none;
    color: var(--main-text-color);
}
.links-1 a[class="before"]::after{
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 3px;
}
.links-1 a:hover{
    color: var(--secondary-text-color);
}

.dropdown ul{
    display: none;
    position: relative;
}

.dropdown:hover ul{
    display: block;
    list-style: none;
    background-color: white;
    position: absolute;
    left: 500px;
    top: 80px;
    width: 250px;
    padding: 30px; 
    text-align: left;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(173, 216, 230, 0.4),
                0 6px 6px rgba(173, 216, 230, 0.3);
}
.dropdown ul::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 50px;
    height: 30px;
    top: -30px;
    left: 60%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.053);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);/*  clip path for a triangle*/
}
.dropdown ul li a:hover {
    color: rgb(0, 183, 255) !important;
    margin-bottom: 10px;
    text-decoration: none;
}
.dropdown ul li {
    margin-bottom: 20px;
}
.dropdown ul li {
    padding: 10px;
}


/* ________________________________________________________ */
.links-2{
    text-align: center;
    padding: 0px, 0px;
    font-size: 13px;
    color: var(--main-text-color);
}
.links-2 a:hover{
    color: var(--secondary-text-color);
}
/* ___________________ region dropdown________________________________________ */

.region-dropdown{
    cursor: pointer;
    padding: 0px 10px;
}
.dropped-links{
    display: none;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(173, 216, 230, 0.4),
                0 6px 6px rgba(173, 216, 230, 0.3);
    padding: 10px;
}
.dropped-links::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 55%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.053);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);/*  clip path for a triangle*/
}

.dropped-links h3{
    padding-left: 20px;
}
.region-dropdown:hover .dropped-links{
    display: block;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 25px;
}
.region-ul-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0px;
}
.region-ul-grid ul{
    list-style-type: none;
    padding: 15px 20px 20px 25px;
    margin: 0;
}
.region-ul-grid a{
    font-size: 0.8em;
    color: var(--main-text-color);
}
.region-ul-grid p{
    font-size: 0.8em;
    color: black;
    font-weight: 300;
}
.region-ul-grid a:hover{
    color: var(--secondary-text-color);
}
.ul-border{
    border-left: 1px solid rgba(0, 0, 0, 0.196);
}

/*_________________________login link dropdown design_____________________________________*/
.login-options .options{
    display: none;
    position: relative;
}

.login-options:hover .options{
    display: block;
    list-style-type: none;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 80px; 
    width: 250px;
    padding: 30px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(173, 216, 230, 0.4),
                0 6px 6px rgba(173, 216, 230, 0.3);
}
.options::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.053);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);/*  clip path for a triangle*/
}

.login-text-style1{
    font-weight:300;
    color: rgb(68, 66, 66);
    font-size: 14px;
}
.login-link{
    text-decoration: none;
    color: rgb(70, 3, 133);
    padding: 10px;
}
.login-link::before{
    content: "\f007";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
}
.login-link:hover{
    background-color:rgba(1, 116, 211, 0.192) ;
    border-radius: 20px;
}
.options a{
    color: var(--main-text-color);
}
.login-text-style2{
    color: rgb(68, 66, 66);
}

.bg-green-btn{
    background-color: var(--green-btn-color);
    width: 140px;
    color: white;
    padding: 13px 25px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.bg-green-btn:hover{
    background-color: rgb(20, 36, 20);
}
.hover-style1{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-style1:hover{
    background-color:rgba(1, 116, 211, 0.192);
    border-radius: 50%;
}
/* the next blue divider */
.nav-write-up{
    background: var(--main-color);
    color: white;
    display: flex;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}
.nav-write-up a{
    color: white;
    padding-left: 15px;
    font-weight: 600;
    font-size: 13px;
}
/* _____________________________________hero section 1______________________________________ */

.hero_section_1{
    background-image: url(../PICTURES/saleForce_desktop_heroImage_background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;
    gap: 20px;

}
.section-divide{
    width: 46vw;
    align-content: center;
}
.hero1_div1{
    width: 100vw;
}
.hero1_div1 h1{
    font-size: 47px;
    font-weight: 600;
    line-height: 50px;
}
.hero1_div1 p{
    font-size: 18px;
    font-weight: 400;
}
.hero1_div1 p[class="m-t-c"]{
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
}
.hero1_div2 video{
    width: 100%;
    border-radius: 20px; 
}
.hero1_div2 video:hover{
    opacity: 0.8; 
}
.video_wrapper{
    width: 45vw;
    height: fit-content;
    display: flex;
    border-radius: 20px;
    z-index: 10;
    background-color: rgb(0, 0, 0);
}

/* ______________________________________HERO SECTION 2_____________________________________ */

.hero_section_2{
    text-align: center;
    padding:  50px 10%;
}
.hero_section_2 div{
    justify-content: center;
}
.hero_section_2 h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    color: var(--main-color);
}
.hero_section_2 p{
    font-size: 18px;
}
.slide-sec-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.slide-sec-1 h3{
    color: var(--main-text-color);

}

.slide-sec-2{
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);    
}
.brand_logos img:hover{
    cursor:pointer ; 
}
.brand_logos{
    display: flex;
    width: fit-content;
    animation: slide 20s linear infinite;
}
.brand_logos img{
    width: 80px;
    height: 80px;
    margin: 0 20px;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
/* _________________________________________section 3_______________________________________ */
.sec3{
    padding: 15px 5%;
}
.sec3 h2{
    text-align: center;
    font-size: 2em;
    color: var(--main-text-color);
    padding-bottom: 30px;
}
.sec3-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 400px;
    gap: 20px;
    align-items:normal;
}
.sec3-gridItem-2 p{
    padding: 0;
    margin: 0;
}
.sec3-gridItem-2 h3{
    font-size: 1.8em;
    color: var(--main-text-color);
}
.sec3-gridItem-2 .bg-blue-btn2{
    text-align: center;
}
.sec3-btn-padding{
    padding-top: 50px;
}
.sec3-gridItem-4{
    border-left: 1px solid rgb(189, 188, 188);
}
.blue-border-design{
    border-left: 4px solid var(--secondary-color);
    padding-left: 20px ;
    margin-bottom: 30px;
}
.blue-border-design a{
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary-color);
}
.sec3-gridItem-4 ul{
    list-style-type: none;
}
.sec3-gridItem-4 li{
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
}
.sec3-gridItem-4 li:hover a{
    color: var(--secondary-color);
}
.li-special{
    padding-bottom: 0px;
}
.sec3-gridItem-4 a{
    text-decoration: none;
    color: var(--main-color);
}

/* _____________________________________CARD SECTION DESIGN_________________________________ */
.card-section{
    padding:40px 10%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    padding: 10px 10%;
    margin-top: 40px;

}

.cards-h2{
    text-align: center;
    color: var(--main-color);
    font-size: 1.3em;
}

                    /* ___________________CARD DESIGN_____________________ */

/* main card container */
.cards{
    position: relative;
    width: 250px;
    height: 280px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

.card-padding{
    padding: 15px;
}
.card-padding p{
    /* margin-bottom:30px ; */
    font-size: 12px;
}
.card-padding > a{
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.card-padding > a:hover{
    color: var(--secondary-text-color);
}

/* card baground styling */
.card-bg{
    position: absolute;
    width: 250px;
    height: 300px;
    left: 150px;
    bottom:-210px;
    border-radius: 50%;
    /* background-color: rgba(0, 119, 255, 0.623); */
}
/*     first card section icon and background img color design */
.card1-iconColor-1{
    color: rgb(9, 108, 165);
}
.card1-iconColor-2{
    color: rgb(13,157,218);
}
.card1-iconColor-3{
    color:rgb(4,225,203) ;
}
.card1-iconColor-4{
    color: rgb(255,83,138);
}
.card1-iconColor-5{
    color:rgb(255,186,144) ;
}
.card1-iconColor-6{
    color: rgb(145,219,139);
}
.card1-iconColor-7{
    color:rgb(13,157,218) ;
}
.card1-iconColor-8{
    color:rgb(190,199,246) ;
}
.card1-iconColor-9{
    color:rgb(127,140,237) ;
}
.card1-iconColor-10{
    color: rgb(105,40,113);
}
.card1-iconColor-11{
    color: rgb(255,120,79);
}
.card1-iconColor-12{
    color: rgb(13,157,218);
}
.card1-iconColor-13{
    color: rgb(117,38,227);
}
.card1-iconColor-14{
    color:rgb(13,157,218) ;
}
/*       cloud background image color for each card */
.card1-bg-color-1{
    background-color: rgb(117,38,227);
}
.card1-bg-color-2{
    background-color: rgb(13,157,218);
}
.card1-bg-color-3{
    background-color: rgb(6,165,154);
}
.card1-bg-color-4{
    background-color: rgb(182,5,84);
}
.card1-bg-color-5{
    background-color: rgb(221,122,1);
}
.card1-bg-color-6{
    background-color: rgb(65,181,88);
}
.card1-bg-color-7{
    background-color: rgb(11,92,171);
}
.card1-bg-color-8{
    background-color: rgb(88,103,232);
}
.card1-bg-color-9{
    background-color: rgb(88,103,232) ;
}
.card1-bg-color-10{
    background-color:rgb(106,40,114) ;
}
.card1-bg-color-11{
    background-color:rgb(255,120,79) ;
}
.card1-bg-color-12{
    background-color:rgb(11,92,171) ;
}
.card1-bg-color-13{
    background-color:rgb(117,38,227) ;
}
.card1-bg-color-14{
    background-color:rgb(15,156,215) ;
}

/* secend card section color */
.card2-bg-color{
    background-color: rgb(117,38,227) !important;
}
/* card backgorund img styling */
.card-bg img{
    position: absolute;
    opacity: 0.5;
    left: 15px;
    top: 25px;
    width: 200px;
}
/* card section 2 icon color */
.card2-icon-color{
    color: rgb(209,125,254) !important;
}
.card-padding div{
    display: flex;
    justify-content: space-between;
    width: 230px;
} 
.card-padding h3{
    color: var(--main-text-color);
}
.card-padding > div{
    height: 70%;
    position: relative;
    bottom: -50px;
    display: flex;
}
.card-padding > div > i{
    font-size: 25px;
    width: 70px;
    height: 70px;
    align-content: center;
    text-align: center;
    background-color: white;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
                0 0 4px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    /* position: absolute;
    top: 130%;
    left: 70%; */
}

.card-padding > div > a{
    color: var(--main-text-color);
    padding-top: 40px;
    width: 150px;
    font-size: 14px;
    /* position: absolute; */
}

.flex{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    margin-top: 3px;
    padding: 10px 10%;
}

.card-section-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card-btn{
    border: 2px solid var(--secondary-color);
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--secondary-color);
}
.card-btn:hover{
    border: 2px solid var(--main-color);
    color: var(--main-text-color);
    background-color: rgba(1, 116, 211, 0.1);
}
.card-section2-bg{
    padding-bottom: 100px;
    background: url(../PICTURES/products-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
/* __________________________________section 4 ____________________________________________ */
.sec4{
    margin-top: 70px;
    padding-bottom: 200px;
    background: url(../PICTURES/sec4-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.sec4-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 0 4%;
}
.sec4-gridItem-1 h3{
    color: var(--main-text-color);
    font-size: 1.9em;
    font-weight: 600;
}
.sec4-gridItem-1 p{
    font-size: 16px;
    font-weight: 400;
}
/* ________________________________Section5___________________________________________ */
.sec5 h2{
    text-align: center;
    color: var(--main-text-color);
    font-size: 2.5em;
    font-weight: 600;
}
.sec5-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto;
    gap: 20px;
    align-items:start ;
    padding: 5% 5%;
}
.sec5-grid-item-2 h3{
    font-size: 2em;
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 45px;
    margin: 0;
}
.blue-border-design-2{
    border-left: 3px solid var(--secondary-color);
}
.ash-border-design{
    border-left: 1px solid rgba(0, 0, 0, 0.267);
}
.ash-border-design p{
    padding-left: 20px;
}
.ash-border-design p:nth-child(1){
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}
.sec5-list-p{
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 600;
}
.sec5-button{
    padding: 50px 0px;
}
/* ________________________________section 6_______________________________________________ */
.sec6{
    text-align: center;
}
.sec6 h2{
    font-size: 2.5em;
    color: var(--main-text-color);
    font-weight: 600;
}
.sec6 p{
    padding: 1% 20%;
    font-size: 1.1em;
}
.sec6-button{
    padding: 20px 0px;
    text-align: center;
}
.sec6 img{
    width: 100%;
}
/* __________________________________section 7_________________________________________ */
.sec7{
    text-align: center;
}
.sec7 h2{
    font-size: 2.5rem;
    color: var(--main-text-color);
    font-weight: 600;
}
.sec7 p{
    padding: 1% 25%;
    font-size: 1.1em;
}
/* _________________________________section 8________________________________________ */
.sec8{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;

}
.sec8-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    padding: 1% 5%;
}
.sec8-grid img{
    width: 100%;
    border-radius: 15px;
}
.sec8-bg{
    width: 100%;
}
/* ________________________________section 9___________________________________________ */
.sec9{
    background-image: url(../PICTURES/sec9-bg-learn-as-you-grow.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 150px;
}
.sec9-div-1{
    text-align: center;
    padding: 0px 30%;
}
.sec9-div-1 h3{
    font-size: 2em;
    color: var(--main-text-color);
}
.sec9-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 2% 4%;
}
.sec9-grid-card{
    width: 100%;
    height: 550px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.sec9-card-img-container{
    width: 100%;
    height: 60%;
    border-radius: 15px 15px 0 0;
    position: relative;
    overflow: hidden;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6),rgba(0,0,0,0));
    pointer-events: none;
    transition: height 0.4s ease-in-out;
}
.sec9-grid-card img{
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}
.sec9-grid-card:hover img{
    transform: scale(1.1);
    height: 100%;
}
.sec9-grid-card:hover .img-overlay{
    height: 45%;
     z-index: 5;
}
.sec9-card-text{
    width: 90%;
    height: 40%;
    padding: 30px;
}
.sec9-grid-card i{
    padding: 5px 10px;
    background-color: rgba(1, 116, 211, 0.178);
    border-radius: 20px;
    font-size: 12px;
}
.sec9-a-1{
   text-decoration: none;
   color: var(--main-text-color);
   font-size: 1.15em; 
   font-weight: 600;
   width: 50%;
}
.sec9-a-1:hover{
   color: var(--secondary-text-color);
}
.sec9-a-2{
    color: var(--main-text-color);
    font-size: 1em;
    font-weight: 500;
}
.sec9-a-2:hover{
    text-decoration: none;
    color: var(--secondary-text-color);
}

/*________________________________section 10____________________________________________  */
.sec10{
    margin-bottom: 50px;
}
.sec10-center-text{
    padding: 10px 20%;
    text-align: center;
}
.sec10-center-text h2{
    font-size: 2.5em;
    padding: 40px;
    color: var(--main-color);
    font-weight: 600;
}
.sec10-center-text h3{
    font-size: 2em;
    color: var(--main-color);
    font-weight: 600;
}
.sec10-center-text p{
    font-size: 1.1em;
}
.sec10-card-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 4%;
}
.sec10-card{
    position: relative;
}
.sec10-card img{
    width: 100%;
    height: 70%;
    /* aspect-ratio: 10 / 6.7; */
    border-radius: 15px;
}
.sec10-card p{
    font-size: 0.9em;
}
.sec10-card a{
    color: var(--main-text-color);
    font-weight: 600;
    position: absolute;
    top: 90%;
}
.sec10-card a:hover{
    text-decoration: none;
    color: var(--secondary-text-color);
}
/* ________________________________section 11_________________________________________ */

.sec11{
    margin-bottom: 100px;
}
.sec11-div-1{
    width: 60%;
    text-align: center;
    padding:  20px 20%;
}
.sec11-div-1 h2{
    font-size: 2em;
    color: var(--main-text-color);
    font-weight: 600;
}
.sec11-button{
    padding: 30px 0px;
    width: 100%;
}
.sec11-btn{
    border: 2px solid var(--secondary-color);
    padding: 15px 30px;
    text-decoration: none;
    color: var(--secondary-text-color);
    border-radius: 5px;
    font-weight: 500;
    /* background-color: rgba(0, 183, 255, 0.171); */
}
.sec11-btn:hover{
    border: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    background-color: rgba(0, 183, 255, 0.068);
}
                /*card section design for sec 11  */
.sec11-div-2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 4%;
}
.sec11-card{
    position: relative;
}
.sec11-card img{
    width: 100%;
    height: 70%;
    /* aspect-ratio: 10 / 6.7; */
    border-radius: 15px;
}
.sec11-card p{
    font-size: 1.5em;
}
.sec11-card a{
    color: var(--main-text-color);
    font-weight: 600;
    position: absolute;
    top: 105%;
}
.sec11-card a:hover{
    text-decoration: none;
    color: var(--secondary-text-color);
}
/* _______________________________Get Started Section_________________________________ */

.getStarted-section{
    width: 100%;
    background-image: url(../PICTURES/text-get-started-bg_64f1c4.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    text-align: center;
    padding-bottom:200px ;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.getStarted-text{
    color: var(--main-text-color);
}
.blue-button{
    width: 100%;
}

/* _______________________________________________last section(before the footer)__________________________________________ */
.gridbox-quickLinks{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 30px 10%;
}
.grid-link-contactUs{
    text-align:start;
}
.logo2{
    width: 90px;
}
.icon-box{
    display: flex;
    gap: 15px;
    padding-top: 40px;
    padding-bottom: 10px;
}
.icon-box i{
    font-size: 20px;
    background-color: rgb(48, 45, 45);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.contact-link5{
    font-size: 14px;
    color: var(--main-text-color);
}

.quick-links{
    text-decoration: none;
    font-size: 13px;
    color: var(--secondary-text-color);
}
.links{
    list-style-type: none;
}
.bold-Text{
    font-size: 15px;
    font-weight: bold;
    color:  rgb(48, 45, 45);
    position: relative;
    left: 40px;
}
/* ________________________________sticky element design________________________ */
.sticky{
    position: sticky;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.sticky-container{
    width: 65%;
    background: linear-gradient(to right, rgb(2, 64, 187),rgb(1,118,211));
    padding: 15px;
    border-radius: 15px  15px 0px 0px;
}
.sticky-input{
    width: 100%;
    margin-bottom: 20px;
}
.sticky-input input{
    width: 100%;
    padding: 10px 0px 10px 5px;
    border: 0;
    border-radius: 5px;
    font-weight: 400;
}
.sticky-input input::placeholder{
    padding-left: 10px;
    font-size: 1.1em;
}
/*    sticky button section styling */
.sticky-container-btn-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
/*   stick button styling */
.sticky-container-btn-grid button{
    width: 95%;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 0.9em;
    font-weight: 600;
    padding: 10px 3px;
    border-radius: 5px;
}
.sticky-container-btn-grid button:hover{
    background-color: white;
    color: black;
}

/* ________________________________Footer Design________________________________ */

footer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--main-color);
    color: white;
    padding: 20px;

}
.foot_div1{
    text-align: right;
}
.foot_div1 a{
    color: white;
    text-decoration: none;
    font-weight:500;
    font-size: 17px;
    margin-right: 50px;
}
.foot_div1 a::before{
    content: "\f0ac";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
}
.foot_div1 a::after{
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 5px;
}
.foot_div2{
    padding-right: 17%;
}
.foot-text{
    margin-right: 20px;
    color: white;
    font-size: 12px;
}
.foot-text-a a{
    color: white;
}
/* _______________________________RESPONSIVE DESIGN_____________________________ */

@media(width< 1200px) {
    .nav-large{
        display: none;
    }
    .nav-small{
        display: flex;
    }
    .sec10-card a{
        position: absolute;
        top: 100%;
    }
    .sec11-card a{
        position: absolute;
        top: 120%;
    }
}
@media(width<979px){
    .grid{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .nav-large{
        display: none;
    }
    .nav-small{
        display: flex;
    }
    .gridbox-quickLinks{
        display: none;
    }
    .hero_section_1{
        display: block;
        background-image: url(../PICTURES/salesForce_heroSection_image_mobile.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        padding: 70px 30px;
        gap: 20px;

    }
    .section-divide{
    width: 100%;
    align-content: center;
    }
    .video_wrapper{
        margin: 50px 0px;
        width: 100%;
        height: fit-content;
        display: flex;
        border-radius: 20px;
        z-index: 10;
        background-color: rgb(0, 0, 0);
    }
    .sec3-grid{
        display: grid;
        grid-template-columns: auto;
    }
    .sec4{
        padding-bottom: 100px;
    }
    .sec4-grid{
        display: grid;
        grid-template-columns: auto;
    }
    .sec5-grid{
        display: grid;
        grid-template-columns: auto;
    }
    .sec5-grid-item-1{
        display: none;
    }
    .sec6 p{
        padding:  1% 10%;
    }
    .sec6-button{
        padding: 20px 10%;
    }
    .sec7 p{
        padding:  1% 10%;
    }
    .sec8-grid{
        display: grid;
        grid-template-columns: auto;
    }
    .sec9-div-1{
        text-align: center;
        padding: 0px 20%;
    }
    .sec9-grid{
        display: grid;
        grid-template-columns: auto;
    }
    .sec10-card a{
        position: absolute;
        top: 100%;
    }
    .sec11-card a{
        position: absolute;
        top: 130%;
    }
}
@media(width<768px){
    .grid{
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    .flex{
       grid-template-columns: 1fr ;
       gap: 20px; 
    }
    .nav-write-up{
        display: block;
        padding: 10px;
    }
    .nav-write-up a{
        padding-left: 0;

    }
     .nav-large{
        display: none;
    }
    .nav-small{
        display: flex;
    }
    .getStarted-section{
        font-size: 30px;
    }
    .sec5-button{
        text-align: center;
    }
     .bg-blue-btn{
        padding: 13px 32%;
    }
    .gridbox-quickLinks{
        display: none;
    }
    .sec10-card-grid{
        display: grid;
        grid-template-columns: auto;
    }
    .sec10-card a{
        position: absolute;
        top: 85%;
        left: 40%;
    }
    .sec11-div-1{
        width: 90%;
        text-align: center;
        padding:  20px 20px;
    }
    .sec11-button{
        padding: 30px 0px;
        width: 90%;
    }
    .sec11-btn{
        display: block;
        width: 100%;
    }
    .sec11-div-2{
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        padding: 4%;
    }
    .sec11-card a{
        position: absolute;
        top: 90%;
        left: 40%;
    }
    footer{
        display: block;
    }
    .foot_div1{
        text-align: center;
    }
    .foot_div2{
        padding: 0;
    }
    .foot_div1 a{
        margin-right: 0;
    }
    .buttons-wrapper{
        display: block;
        width: 100%;
        padding-right: 20px;
    }
    .bg-blue-btn2{
        display: block;
        width:90%;
        margin-bottom: 20px;
    }
    .blue-transparent-btn{
        display: block;
        width: 90%;
    }
    .sec10-center-text{
        padding: 10px 5%;
    }

}
@media(width<600px){
    .grid{
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    .flex{
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    .nav-write-up{
        display: block;
        padding: 10px;
    }
    .nav-write-up a{
        padding-left: 0;

    }
    .nav-large{
        display: none;
    }
    .nav-small{
        display: flex;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    .logo{
        width: 50px;
    }
    .bg-green-btn{
        width: 70px;
        font-size: 10px;
        padding: 10px 5px;
    }
    .getStarted-section{
        font-size: 20px;
    }
    .bg-blue-btn{
        padding: 13px 32%;
    }
    .gridbox-quickLinks{
        display: none;
    }
    .sec9-div-1{
        text-align: center;
        padding: 0px 10%;
    }
    .sec11-card a{
        position: absolute;
        top: 98%;
        left: 40%;
    }
    footer{
        display: block;
    }
    .foot_div1{
        text-align: center;
    }
    .foot_div2{
        padding: 0;
    }
    .foot_div1 a{
        margin-right: 0;
    }
}