body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins";
}

:root{
    --main-text-color: rgb(3,45,96);
    --main-color: rgb(0, 39, 117);
    --secondary-text-color:rgb(13,157,218);
    --secondary-color: rgb(2, 67, 121);
    --green-btn-color: rgb(46, 132, 74);
}
.m-t-c{
    color: var(--main-text-color);
}
.s-t-c{
    color: var(--secondary-text-color);
}

.line-height-1{
    line-height: 40px;
}
.bg-blue-btn2{
    background-color: var(--secondary-color);
    color: white;
    padding: 15px 25px;
    margin-top: 3px;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}
.bg-blue-btn2:hover{
    background-color: rgb(2, 55, 90)
}
.black-back-btn{
    background-color: rgb(255, 255, 255);
    color: var(--secondary-color);
    padding: 15px 25px;
    margin-top: 3px;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    opacity: 1 !important;
}
.black-back-btn:hover{
    background-color: rgba(0, 0, 0, 0.349);
    color: var(--secondary-color);
}

.logo{
    width: 100px;
}
#background-img{
    background-image: url(../PICTURES/freeTrail-background-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
}
#sub-section1{
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin: 10px 8% 0px 8%;
}
/* .LHS{
    width: 40%; 
}*/

.LHS h2{
    font-weight: 500;
}
.header-text{
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 33px;
}


.list-style{
    list-style-type: none;
    padding: 5px;
}
.li{
    margin: 15px;
    line-height: 17px;
    font-size: 15px;
}
.li::marker{
    content: "✔";
    color: green;
}

.form_image{
    width: 450px;
    height: 250px;
}
/*_______________________________ styling for the form container and elements______________________________ */
.form{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: none;
    opacity: 0.8;
    padding: 25px;
}
.big-text{
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.small-text{
    font-size: 12px;
    font-weight: 500;
}
.input-group{
    position: relative;
    margin-bottom: 20px;
}

.input-group input{
    width: 100%;
    font-size: 15px;
    padding: 5px 5px;
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.input-group input:focus ~ label{
    top: -10px;
    left: 0;
    font-size: 12px;
}
.input-group input:valid ~ label{
    top: -10px;
    left: 0;
    font-size: 12px;
}

.input-group input:focus{
    border-color: rgba(0, 120, 215, 0.8) ;
    background-color: rgba(0, 120, 215, 0.1);
    box-shadow: 0 0 8px rgba(0, 120, 215, 0.8);
    outline: none;
    border-radius: 5px;
}
.select-group{
    width: 100%;
    margin-bottom: 30px;
}
.select-group select:focus{
    border-color: rgba(0, 120, 215, 0.8) ;
    background-color: rgba(0, 120, 215, 0.1);
    box-shadow: 0 0 8px rgba(0, 120, 215, 0.8);
    outline: none;
}
.select-group select{
    width: 103.5%;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 5px;
}
.select-group label{
    font-size: 12px;
}
.small-text-2{
    font-size: 9px;
}
.signin-agreement-box{
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items:first baseline;
}

.signin-agreement-box a{
    text-decoration: none;
    color: var(--secondary-color);
}
.signin-agreement-box a:hover{
    color: var(--main-text-color);
}
.policy a{
    text-decoration: none;
    color: var(--secondary-color);
}
.policy a:hover{
    color: var(--main-text-color);
}
/* ____________forms styling______________ */
.forms{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    padding: 25px;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

.active{
    opacity: 1;
    pointer-events: all;
}
.form-btn-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.form-btn-container div{
    display: flex;
    gap: 20px;
}

/* _________________________________________legal text section_________________________________ */
.free-trail-writup{
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 6px 15% 10px 15%;
    gap: 20px;
}
.f-sec{
    width: 45%;
}
.s-sec{
    display: flex;
    justify-content: right;
    width: 25%;
}
.s-sec img{
    width: 85px;
    height: 60px;
}

/*______________________________________footer___________________________________ */

footer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--main-color);
    color: white;
    padding: 20px;

}
.foot_div1{
    text-align: right;
}
.foot_div1 a{
    color: white;
    text-decoration: none;
    font-weight:500;
    font-size: 17px;
    margin-right: 50px;
}
.foot_div1 a::before{
    content: "\f0ac";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
}
.foot_div1 a::after{
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 5px;
}
.foot_div2{
    padding-right: 17%;
}
.foot-text{
    margin-right: 20px;
    color: white;
    font-size: 12px;
}
.foot-text-a a{
    color: white;
}
/* ___________________________________Responsive Design______________________________________ */
@media(width< 1200px) {
    #sub-section1{
        width: 100%;
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 20px;
        margin: 10px 2% 0px 2%;
    }
}
@media(width<979px){
    #sub-section1{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        gap: 30px;
        margin: 10px 3% 0px 3%;
        /* justify-content: center; */
    }
    #background-img{
        overflow: hidden;
    }
    .LHS{
        width: 100%;
    }
    .RHS{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media(width<768px){

    footer{
        display: block;
    }
    .foot_div1{
        text-align: center;
    }
    .foot_div2{
        padding: 0;
    }
    .foot_div1 a{
        margin-right: 0;
    }
    .free-trail-writup{
        display: block;
        font-size: 10px;
        padding: 10px 5%;
    }
    .f-sec{
        width: 100%;
    }
    .s-sec{
        display: flex;
        justify-content: right;
        width: 100%;
    }
    #sub-section1{
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        margin: 10px 3% 0px 4%;
    }
    .form_image{
        display: none;
    }
    .LHS h1{
        line-height: 35px;
        font-size: 17px;
    }
    .LHS h2{
        font-size: 15px;
    }
    .display-none{
        display: none;
    }
    .RHS{
        width: 100%;
        display: block;
    }
    .form{
        position: relative;
        width: 80%;
        height: 500px;
        background-color: none;
        opacity: 0.8;
        padding: 25px;
    }

}
@media(width<600px){
    footer{
        display: block;
    }
    .foot_div1{
        text-align: center;
    }
    .foot_div2{
        padding: 0;
    }
    .foot_div1 a{
        margin-right: 0;
    }
    #sub-section1{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        gap: 50px;
        padding: 10px 0.5% 0px 3%;
    }
    .LHS{
        width: 80%;
    }
    .RHS{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}